@{
    ViewData["Title"] = "Home Page";
}

Test yazi

Benim adım Veysel
Soyadım da mor

Forma numaram 23
Test yapiyorum

<form>
    <input type="text" name="name" />
    <input type="submit" value="Gönder" />
</form>

Test yapiyorum
Test yapiyorum

aaaaaa

brawlstars

25. satir eklendi